body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: space-between;
    padding:  0px 60px 60px 60px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.headtext {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: #F9FAF8;
}

.secs {
    background-color: #1f2937;   
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 0 1 auto;
}

#awe {
    font-size: 48px;
    font-weight: bolder;
}

.awesome {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(50%);
    margin-top: -30px;
}

button {
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    color: #F9FAF8;
    border-radius: 5px;
    border: 0px;
    margin-top: -10px;
}

.place {
    padding: 50px 140px;
    background-color: darkgrey;
}

.sec3 {
    display: flex;

}